body {
    background-color: #F6EDC5;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header {
    position: fixed; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
}

.logo {
    width: 80px;
    position: fixed; 
    top: 0;
    left: 0;
    padding: 24px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
}

header nav ul li a {
    padding: 24px;
    text-decoration: none;
    color: #1D1E1B;
    font-size: 24px;
}

.active {
    text-decoration: underline;
    color: #ED6C1A;
}

.home {
    margin: 236px 178px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div #introducing {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 44px;
}

#profielfoto {
    display: flex;
    justify-content: right;
    box-shadow: #1D1E1B;
    border-radius: 8px;
}

.space {
    margin: 8px;
}


.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    padding-top: 178px;
}



#mail {
    width: 28px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-bottom: 24px;
}

.icon {
    width: 24px;
    padding: 8px;
}

.socials {
    display: flex;
    align-items: center;
}

#header{
    background-color: #F6EDC5;
    padding: 44px 48px;
}

#footer_port{
    position: relative;
    text-align: center;
    margin-bottom: -24px;
    background-color: #F6EDC5;
    padding: 24px 178px 24px  178px;
}

.portfolio{
    padding-top: 148px;
}

.project{
    display: flex;
    flex-direction: row;
}

.project-img{
    width: 178px;
    border-radius: 8px;
    margin: 24px;
    color: #ED6C1A;
    background-color: #FFF0D4;
    border-color: #ED6C1A;
    border-style: solid;
    border-radius: 8px;
}

.button{
   text-decoration: none;
   color: #ED6C1A;
   background-color: #FFF0D4;
   border-color: #ED6C1A;
   border-style: solid;
   border-radius: 4px;
   padding: 8px;
}

li{
    list-style:none;
}

ul{
    display: flex;
    flex-direction: row;
}