body{
 background-color: #F6EDC5 ;
}
h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 16px;
}
header{
    padding: 24px;
}

.logo{
    width: 80px;
    justify-content: flex-end;
}

header nav ul{
    display: flex;
    flex-direction:row;
    justify-content: center;
    list-style: none;
    margin: -50px 0px;
}

header nav ul li a{
    padding: 24px;
    text-decoration: none;
    color: #1D1E1B;
    font-size: 24px;
}

.active{
    text-decoration: underline;
    color: #ED6C1A;
}



.homeInfo{
    margin: 178px 178px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div #introducing{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#profielfoto{
    display: flex;
    justify-content: right;
    box-shadow: #1D1E1B;
    border-radius: 8px;
}

.space{
    margin: 8px;
}
#mail{
    width: 28px;
}
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.icon{
    width:24px;
    padding:8px;
}